:root {
    --teal: #3ebffe;
    --lightGreen: #92d4c5;
    --white: #fffcf8;
    --darkAccent: #519888;

}

body {
    background-color: var(--white);
}

h1 {
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--white);
    
}

h2 {
    font-family: "Fraunces", serif;
    font-weight: 900;
}

h3 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: hsl(210, 4%, 67%);
}

    .learn {
        font-family: "Fraunces", serif;
        font-weight: 700;
        text-transform: uppercase;
    }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr) */
    overflow: hidden;
}


    #square1 {
        grid-column: 1 / span 2;
        background: url(assets/desktop/image-header.jpg);
        background-size: cover;
        
    }

    #egg {
        background:url(assets/desktop/image-transform.jpg);
        background-size: cover;
    }

    #pinkcup {
        background: url(assets/desktop/image-stand-out.jpg);
        background-size: cover;
    }

    #cherry {
        background: url(assets/desktop/image-graphic-design.jpg);
        background-size: cover;
    }

    #peach {
        background: url(assets/desktop/image-photography.jpg);
        background-size: cover;
    }

#testimonials {
    grid-column: 1 / 3;
}

.testimony {
    margin: 2.5rem;
    /* justify-content: center; */
}

.testimonial-container {
    display: flex;
    justify-content: center;
}

.photo-container1 {
    display: flex;
    grid-row-start: 6;
    grid-column: 1 / 2;
}

.photo-container2 {
    grid-row-start: 7;  
    display: flex;
}

#bottom-menu {
    grid-column: 1 / 3;
    background-color: var(--lightGreen);
}

.links {
    display: flex;
    justify-content: center;
}

    .links p {
        color: var(--darkAccent);
        margin: 1rem;
    }

footer {
    background-color: var(--lightGreen);
}

img {
    z-index: -1;
    object-fit: cover;
    width: 50%;
    height: auto;
}
.social-media {
    display: flex;
    justify-content: center;
    margin: 1rem;
    z-index: 3;
    position: relative;
}
    .social-media img {
        margin: 1rem;
    }
